@import url('https://fonts.googleapis.com/css?family=Nunito:400,500,600,700&display=swap');

/* ------------------- General */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: large;
    font-weight: 600;
    overflow-x: hidden;
}



/* ------------------- Navigation bar */

.navbar {
    margin-bottom: 0;
    background-color: white;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    right: 0;
    z-index: 1;
    width: 100% !important;
}

.navbar .navbar-toggler {
    border: solid 2px;
    border-radius: 50%;
    border-color: #ffb3cc;

    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 179, 204)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.navbar .navbar-toggler:hover {
    border-color: #e5a1b7;
}

.dropdown {
    position: relative;
}

.navbar .navbar-brand {
    font-weight: bolder;
    font-size: larger;
    float: none;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    font-weight: bolder;
    font-size: medium;
    border-radius: 15px;
}

.dropdown-item:hover {
    background-color: white;
    color: #ffb3cc;
}

#navbarNavDropdown {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    z-index: 1;
    background-color: white;
    border-radius: 15px;
}

/* ------------------- Containers and sections, general*/

.callout-container {
    height: 100vh;

    background-image: url('../images/callout.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    padding: 0;
}

.jumbotron {
    border-radius: 0;
    background-color: transparent;
    position: relative;
    display: block;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}


#section1,
#section2,
#section3,
#section4 {
    display: block;
    position: relative;
    padding-top: 7.5em;
    padding-bottom: 7.5em;
}

#section5 {
    display: block;
    position: relative;
    padding-top: 6.5em;
    padding-bottom: 6.5em;

    background-image: url('../images/contact.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


.callout {
    margin-bottom: 0;
    padding: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.section-container {
    height: 20em;

    display: block;
    align-items: center;
    justify-content: center;

    position: relative;
    margin: 15px;
}

.container-section {
    background-color: rgb(255, 255, 255, .85);
    border-radius: 15px;
}



/* ------------------- Dividers */

.arrowdown {
    -webkit-animation: blinking 0.75s infinite ease-in-out;
    -moz-animation: blinking 0.75s infinite ease-in-out;
    -o-animation: blinking 0.75s infinite ease-in-out;
    animation: blinking 0.75s infinite ease-in-out;
    display: none;
}


@keyframes blinking {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.indent {
    margin-bottom: 15px;
}

/* ------------------- Colors */

.bg-color-pink {
    background-color: #ffb3cc;
}

.bg-color-green {
    background-color: #ccffcc;
}

.color-green {
    color: #b3ffb3;
}

.color-pink {
    color: #ffb3cc;
}

.color-black {
    color: black;
}

.btn-lg {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-lg:hover {
    background-color: #e5a1b7;
}

footer div a:hover {
    color: #ffb3cc;
}

a:hover {
    color: #ffb3cc;
}

/* ------------------- Our story */

.mealplansection {
    background-image: url('../images/nutrients.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 15px;

}

.fridgesection {
    background-image: url('../images/fridge.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 15px;
}

.dishsection {
    background-image: url('../images/dish.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 15px;
}


/* ------------------- Meal plan */

.center-inputfield {
    margin: 0 auto;
    max-width: 75%;
}

.result-column {
    display: block;
    margin: 1em auto;
}

/* ------------------- Contact */

.center-form {
    padding-top: 30px;
    margin: 0 auto;
    max-width: 50%;
    opacity: .85;
}

.form-control {
    margin-bottom: 5px;
}

/* ------------------- Footer */

footer {
    position: relative;
    font-size: medium;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: medium;
    line-height: 7px;
    text-align: center;
    color: #444;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #ffb3cc;
}

/* ------------------- Other */

.add-padding-top {
    padding-top: 1em;
}

.add-padding-bottom {
    padding-bottom: 1em;
}

.no-padding {}



/* ------------------- Media queries */

@media(min-width: 992px) {

    #section5 {
        min-height: 75vh;
    }
    .center-inputfield {
        max-width: 25%;
    }
    .no-padding {
        padding: 0;
    }
    .result-column {
        display: inline-block;
        margin: 1em;
    }

}

@media(min-width: 1025px) {
    .arrowdown {
        display: inline-block;
        bottom: 15px;
    }
}
